.speech{
    color:black;
    font-family: san-serif;
    font-size: 16px;
    font-style: normal;
}
.song{
    color: black;
    font-style: italic;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.direction{
    color:black;
    font-family: arial;
    font-size:14px;
    background-color: bisque;
    
}
.direction:hover{
    color: blueviolet;
    background-color: aqua;
}
.rel{
    color:blue;
    font-family: Serif ;
    font-size: 16px;
    font-style: bold;
}
.rel:hover{
    color:aqua;
    background-color:blue;
    text-shadow: 2px 2px 5px red;
    border-style:dotted;
}
.sai{
    color:brown;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 16px;
    font-style:oblique;
}
.sai:hover{
    color:aqua;
    background-color:blue;
    text-shadow: 2px 2px 4px blueviolet;
    border-style:dashed;
}
.cap{
    color:chartreuse;
    font-family: Cursive;
    font-size: 16px;
    font-style:italic;
}
.cap:hover{
    color:brown;
    background-color:blanchedalmond;
    text-shadow: 2px 2px 2px rgb(43, 189, 226);
    border-style:double;
}
.heb{
    color:forestgreen;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-style:oblique;
}
.heb:hover{
    color:coral;
    background-color:chartreuse;
    text-shadow: 2px 2px 3px rgb(226, 43, 141);
    border-style:groove;
}
.sir{
    color:darkslateblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: initial;
}
.sir:hover{
    color:cornflowerblue;
    background-color:cyan;
    text-shadow: 2px 2px 4px rgb(43, 226, 119);
    
    border-style:ridge;
}
.all{
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-style: italic;
}
.song_name{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-style: oblique;
}
.chorus{
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-style: bold;
}
table.table
{
    color:blueviolet;
    text-align: center;
    padding: 80px;
    margin:30px;
}
table, th, td {
    border: 4px ridge;
    
  }
tr:nth-child(odd)
{
    background-color:aquamarine;
}